# Ignore everything by default
*

# Include directories
!auth/
!auth/**
!common/
!common/**
!companies/
!companies/**
!database/
!database/**
!docs/
!docs/**
!posts/
!posts/**
!profiles/
!profiles/**
!users/
!users/**

# Include files
!.air.toml
!.gitignore
!dev.Dockerfile
!docker-compose.yml
!go.mod
!go.sum
!main.go
!prod.Dockerfile
!readme.md
